$PROJDIR:

obj
Temp
*.csproj
*.pidb
*.sln
*.suo
*.userprefs


$PROJDIR/Library

AnnotationManager
AssetImportState
AssetServerCacheV3
BuildPlayer.prefs
BuildSettings.asset
EditorSettings.asset
EditorUserBuildSettings.asset
FailedAssetImports.txt
InspectorExpandedItems.asset
MonoManager.asset
ScriptAssemblies
ScriptMapper
assetDatabase3
cache
expandedItems
guidmapper
metadata
previews